{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="mb-4">Добро пожаловать в наш интернет-магазин!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Категория 1</h5>
                    <p class="card-text">Описание категории 1</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Категория 2</h5>
                    <p class="card-text">Описание категории 2</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Категория 3</h5>
                    <p class="card-text">Описание категории 3</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
